@{
    ViewData["Title"] = "Home Page";
}
<body >
    <div class="container">
        <p></p>
        <img class="img-responsive center-block" src="~/css/goodTRADE.png" alt="Chania">
    </div>
</body>