@model StockJournal.Models.StockUserViewModel

@{
    ViewData["Title"] = "Create";
    ViewBag.userId = Model.userTransId;
    //ViewBag.userId = 7;
}

<h2>MY PROFILE</h2>

<h4>StockUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="user.Id"/>          
            <div class="form-group">
                <label asp-for="user.FName" class="control-label"></label>
                <input asp-for="user.FName" class="form-control" />
                <span asp-validation-for="user.FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.LName" class="control-label"></label>
                <input asp-for="user.LName" class="form-control" />
                <span asp-validation-for="user.LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.Email" class="control-label"></label>
                <input asp-for="user.Email" value ="@Model.loginUserId" class="form-control" />
                <span asp-validation-for="user.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.TotCash" class="control-label" ></label>
                <input asp-for="user.TotCash" class="form-control" id="idCash"/>
                <span asp-validation-for="user.TotCash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.TotEquity" class="control-label"></label>
                <input asp-for="user.TotEquity" class="form-control" />
                <span asp-validation-for="user.TotEquity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.TotPortfolio" class="control-label"></label>
                <input asp-for="user.TotPortfolio" class="form-control" />
                <span asp-validation-for="user.TotPortfolio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Profile" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>

    @Html.ActionLink("Manage Transactions", "Index", "Stock", new { userId = Model.user.Id }, null)
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    (function () {
        var cash = document.getElementById("idCash");

        window.onload = function () {
            if (cash.innerText == "") {
                cash.disabled = true;

            }
        }

    })();
</script>

}
